<style>
.hh li{
	font-size: 14px;
}
</style>
<div class="page-header">
	<h1>
		收费项目
		<small>
			<i class="icon-double-angle-right"></i>
		</small>
	</h1>
</div>
<div class="row">
	<div class="col-sm-6 hh">
		<ul>
			<li><h4>运费</h4>
				<ul class="list-unstyled">
					<li>
						<i class="icon-caret-right blue"></i>
						小型车（面包车）：起步价，10公里内90元，后每公里8元
					</li>

					<li>
						<i class="icon-caret-right blue"></i>
						货车：起步价，10公里内150元，后每公里10元
					</li>

					<li>
						<i class="icon-caret-right blue"></i>
						计算方式：从客户搬离地址到客户乔迁地址
					</li>
				</ul>
			</li>

			<li>
				<h4>服务费</h4>
				<ul class="list-unstyled">
					<li>
						<i class="icon-caret-right blue"></i>
						普通搬运工：35元/人/小时；
					</li>

					<li>
						<i class="icon-caret-right blue"></i>
						专业搬运工（钢琴等贵重物品）：50元/人/小时；
					</li>

					<li>
						<i class="icon-caret-right blue"></i>
						计算方式：从到达客户搬离地开始计时，到搬完所有物品为止所发生的时间。
					</li>
				</ul>
			</li>

			<li>
				<h4>楼层搬运费（仅限没有电梯的客户）</h4>
				<ul class="list-unstyled">
					<li>
						<i class="icon-caret-right blue"></i>
						a)	上楼：10元/人/层
					</li>

					<li>
						<i class="icon-caret-right blue"></i>
						b)	下楼：8元/人/层
					</li>

					<li>
						<i class="icon-caret-right blue"></i>
						c)	计算方式：按楼层计算
					</li>
				</ul>
			</li>
		</ul>
	</div>

	
</div>
<div class="page-header">
	<h1>
		免费项目
		<small>
			<i class="icon-double-angle-right"></i>
		</small>
	</h1>
</div>
<div class="col-sm-6 hh">
		<ul>
			<li>拆装衣柜、床等家具物品（不包括空调）免费</li>
			<li>免费提供包装服务（包装材料需客户自己提供）</li>
		</ul>
</div>