<div class="row-fluid">
<div class="span12">
	<div class="widget-box">
		<div class="widget-header widget-header-blue widget-header-flat">
			<h4 class="lighter">订单向导</h4>
		</div>

<div class="widget-body">
	<div class="widget-main">
		<div id="fuelux-wizard" class="row-fluid" data-target="#step-container">
			<ul class="wizard-steps">
				<li data-target="#step1" class="active">
					<span class="step">1</span>
					<span class="title">我要报价</span>
				</li>

				<li data-target="#step2" class="">
					<span class="step">2</span>
					<span class="title">物品清单</span>
				</li>

				<li data-target="#step3" class="">
					<span class="step">3</span>
					<span class="title">提交</span>
				</li>
			</ul>
		</div>

		<hr>
		<div class="step-content row-fluid position-relative" id="step-container">
			<div class="step-pane active" id="step1">
				<h3 class="lighter block green">请输入以下报价信息</h3>
					<div class="page-header">
	<h4>
		搬离旧址
		<small>
			<i class="icon-double-angle-right"></i>
		</small>
	</h4>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="table-responsive">
			<table id="sample-table-1" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>地址</th>
						<th>楼层</th>
						<th class="hidden-480">小区停车费(元)</th>
						<th class="hidden-480">是否有电梯</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
						<input type="text" class="col-xs-10 col-sm-12" id="oldaddress" placeholder="">
						</td>
						<td><input type="text" class="input-small lou" id="oldfloor" placeholder="" onkeypress="return event.keyCode>=48&&event.keyCode<=57" onpaste="var s=clipboardData.getData('text'); if(!/\D/.test(s)) value=s.replace(/^0*/,''); return false;" ondragenter="return false" style="ime-mode: disabled" onkeyup="if(/(^0+)/.test(value))value=value.replace(/^0*/, '')"></td>
						<td class="hidden-480"><input type="text" class="input-small" id="oldfee" placeholder=""></td>
						<td><input id="oldleft" checked="checked" type="checkbox" class="ace ace-switch ace-switch-5"><span class="lbl"></span></td>
						</tr>
				</tbody>
			</table>
		</div><!-- /.table-responsive -->
	</div><!-- /span -->
</div>


<div class="page-header">
	<h4>
		乔迁新址
		<small>
			<i class="icon-double-angle-right"></i>
		</small>
	</h4>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="table-responsive">
			<table id="sample-table-1" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>地址</th>
						<th>楼层</th>
						<th class="hidden-480">小区停车费(元)</th>
						<th class="hidden-480">是否有电梯</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
						<input type="text" class="col-xs-10 col-sm-12" id="newaddress" placeholder="">
						</td>
						<td><input type="text" class="input-small lou" id="newfloor" placeholder="" onkeypress="return event.keyCode>=48&&event.keyCode<=57" onpaste="var s=clipboardData.getData('text'); if(!/\D/.test(s)) value=s.replace(/^0*/,''); return false;" ondragenter="return false" style="ime-mode: disabled" onkeyup="if(/(^0+)/.test(value))value=value.replace(/^0*/, '')"></td>
						<td class="hidden-480"><input type="text" class="input-small" id="newfee" placeholder=" "></td>
						<td><input id="newleft" checked="checked" type="checkbox" class="ace ace-switch ace-switch-5"><span class="lbl"></span></td>
						</tr>
				</tbody>
			</table>
		</div><!-- /.table-responsive -->
	</div><!-- /span -->
</div>

<div>
预计里程（公里）：
    			<input type="text" class="input-small" id="distance" placeholder=""  >预计时间（小时）：
    			<input type="text" class="input-small" id="time" placeholder="" >需要搬运工人数	：
    			<input type="text" class="input-small" id="person" placeholder="">
</div>
														</div>

														<div class="step-pane" id="step2">
															<div class="row-fluid">
																<div class="alert alert-info"> 
		<!--<button type="button" class="close" data-dismiss="alert">&times;</button>
		--><strong>温馨提示：</strong>尊敬的客户，您好！非常感谢您选择我公司的服务。为了您的权益，下面的信息请您尽量填写详细。搬家时如果您的物品发生丢失或损坏，信息联络表将作为您维权的依据。
</div>
<!-- 大件物品 -->
<div class="list"><strong>大件物品(长、宽、高任意一边≥1.5米或重量＞80KG) </strong><a id="addbig" class="btn btn-xs btn-success" title="增加">
<i class="icon-plus bigger-120"></i></a></div>
<table  id="bigtable" class="table table-bordered  table-hover table-condensed">
	<tr>
	<td>名称</td>
	<td>数量</td>
	<td>尺寸</td>
	<td>预估重量（kg）</td>
	<td></td>
	</tr>
	<tr>
	<td><input type="text" class="span3 name" id="input" placeholder=""></td>
	<td><input type="text" class="span3 num" id="input" placeholder=""></td>
	<td><input type="text" class="span3 size" id="input" placeholder=""></td>
	<td><input type="text" class="span3 weight" id="input" placeholder=""></td>
	<td><a class="btn btn-xs btn-danger" title="删除">
			<i class="icon-trash bigger-120"></i>
	</a></td>
	</tr>
	<!--<tr>
	<td><input type="text" class="span3 name" id="input" placeholder=""></td>
	<td><input type="text" class="span3 num" id="input" placeholder=""></td>
	<td><input type="text" class="span3 size" id="input" placeholder=""></td>
	<td><input type="text" class="span3 weight" id="input" placeholder=""></td>
	<td><a class="btn btn-xs btn-danger">
			<i class="icon-trash bigger-120"></i>
	</a></td>
	</tr>
--></table>
<!-- 普通物品 -->
<div class="list"><strong>普通物品（长、宽、高任意一边均＜1.5米或重量＜80KG）</strong>
<a id="addsmall" class="btn btn-xs btn-success" title="增加">
<i class="icon-plus bigger-120"></i></a>
</div>
<table id="smalltable" class="table table-bordered  table-hover table-condensed">
	<tr>
	<td>名称</td>
	<td>数量</td>
	<td>尺寸</td>
	<td>预估重量（kg）</td>
	<td></td>
	</tr>
	<tr>
	<td><input type="text" class="span3 name" id="input" placeholder=""></td>
	<td><input type="text" class="span3 num" id="input" placeholder=""></td>
	<td><input type="text" class="span3 size" id="input" placeholder=""></td>
	<td><input type="text" class="span3 weight" id="input" placeholder=""></td>
	<td><a class="btn btn-xs btn-danger" title="删除">
			<i class="icon-trash bigger-120"></i>
	</a></td>
	</tr>
	<!--<tr>
	<td><input type="text" class="span3 name" id="input" placeholder=""></td>
	<td><input type="text" class="span3 num" id="input" placeholder=""></td>
	<td><input type="text" class="span3 size" id="input" placeholder=""></td>
	<td><input type="text" class="span3 weight" id="input" placeholder=""></td>
	<td><a class="btn btn-xs btn-danger">
			<i class="icon-trash bigger-120"></i>
	</a></td>
	</tr>
--></table>
<div>
<div class="list"><strong>小件物品	（我公司免费提供周转箱，方便您小件物品整体打包。）</strong></div>
您需要的周转箱个数	<input type="text" class="span3" id="box_num" placeholder="">
</div>
<div class="hr hr-18 dotted hr-double"></div>
<table  class="table table-bordered  table-hover table-condensed">
	<tr>
	<td>是否有贵重物品需要搬运</td>
	<td>
	<input id="is_precious" type="checkbox" class="ace ace-switch ace-switch-5"><span class="lbl"></span>
	<span id="preciousdiv" style="display: none;">物品名称<input id="precious" type="text" class="span5"/></span>
	</td>
	<td><a data-toggle="tooltip" title="小件贵重物品请您自行携带，大件物品请您提前和我们的客服进行联系。" id="info_prec" class="label label-sm label-info arrowed arrowed-righ">服务说明</a></td>
	</tr>
	<tr>
	<td>是否需要帮您打包</td>
	<td><input id="is_pack" checked="checked" type="checkbox" class="ace ace-switch ace-switch-5"><span class="lbl"></span></td>
	<td><a data-toggle="tooltip" title="如果您提供包装材，我们免费帮您打包，如果需要我们提供，按材料费收取" id="info_pack" class="label label-sm label-info arrowed arrowed-righ">服务说明</a></td>
	</tr>
	<tr>
	<td>是否需要帮您拆装</td>
	<td><input id="is_dismount" checked="checked" type="checkbox" class="ace ace-switch ace-switch-5"><span class="lbl"></span></td>
	<td><a data-toggle="tooltip" title="免费提供" id="info_dismount" class="label label-sm label-info arrowed arrowed-righ">免费提供</a></td>
	</tr>
	
</table>
<div class="hr hr-18 dotted hr-double"></div>
<div>
<div>*联系电话：
	<input type="text" class="span3 phone" value="<?php echo $_SESSION['phone_num']?>" id="inner_phone" placeholder="必填项">
	<span id="phone-error" class="hide label label-sm label-danger arrowed arrowed-righ">号码错误</span></div>
	<div style="padding: 10px 0;">*联系人：
	<input style="margin-left: 13px;" type="text" class="span3 name" id="person_name" placeholder="必填项"></div>
</div>
						</div>
					</div>
					<div class="step-pane" id="step3">
						<div class="center">
							<h3 class="blue lighter">成功提交订单！</h3>
							3秒后跳转订单详情页，<a id="redirecturl" href="order/index/details?id=">若没跳转请点击这</a>
						</div>
					</div>
				</div>
				<hr>
				<div class="row-fluid wizard-actions">
					<button id="prev" class="btn btn-prev" disabled="disabled">
						<i class="icon-arrow-left"></i>
						上一步
					</button>
					<button id="next" class="btn btn-success btn-next" data-last="Finish ">
						下一步
					<i class="icon-arrow-right icon-on-right"></i></button>
				</div>
			</div><!-- /widget-main -->
		</div><!-- /widget-body -->
		</div>
	</div>
</div>
<script type="text/javascript" src="<?php echo $this->cfg('_SERVER_URL_')?>/public/js/index.js"></script>
